html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow-y: hidden;
  scroll: none;
}

nav {
  width: 100%;
  display: none;
  height: 120px;
  background-color: #ffdc05;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textoNav {
  text-align: center;
  color: #404040;
  font-size: 35pt;
  font-style: bold;
  margin: 25px 0 0 0;
  padding-left: 170px;
}

.usuarioCliente {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.usuarioPantalla {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
}

.usuarioPantalla .turnos_caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.usuarioPantalla .turnos_caja .turnos_caja-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .turnero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .turnero .turnero-titulo {
  margin-bottom: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 102px;
  color: #008CA0;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .turnero .turno1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  border: 6px solid #0FADD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 90%;
  height: 20%;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .turnero .turno1Container .turno1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0FADD0;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .cajas {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .cajas .caja-titulo {
  margin-bottom: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 102px;
  color: #008CA0;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .cajas .caja1Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  border: 6px solid #0FADD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 90%;
  height: 20%;
}

.usuarioPantalla .turnos_caja .turnos_caja-container .cajas .caja1Container .caja1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0FADD0;
}

.usuarioPantalla .publicidad {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.usuarioPantalla .publicidad .imgPublicidad {
  margin-top: 80px;
}

.pantallaDocumento {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pantallaDocumento .botonesDoc {
  width: 40%;
  height: 100%;
  padding: 15px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pantallaDocumento .botonesDoc #lineDoc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.pantallaDocumento .botonesDoc #lineDoc #yellowDoc {
  width: 114px;
  margin: 0;
  margin-right: 5px;
  border: 2px solid #FFDD00;
}

.pantallaDocumento .botonesDoc #lineDoc #greenDoc {
  width: 249px;
  margin: 0;
  border: 2px solid #008CA0;
}

.pantallaDocumento .tecladoDoc {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 60%;
  height: 100%;
  background-color: #F6F6F6;
}

.docuType {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #008CA0;
}

.doc {
  width: 516px;
  height: 166px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border: 4px solid #00A9CE;
  border-radius: 10px;
  margin-bottom: 43px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 65px;
  color: #1093A5;
}

.docuNum {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #008CA0;
}

.inputDoc,
.inputCod {
  width: 740px;
  height: 86px;
  border-radius: 9px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-bottom: 2px solid #00A9CE;
  margin-bottom: 50px;
  margin-left: -40px;
  font-size: 25pt;
  padding-left: 10px;
  text-align: center;
  color: gray;
}

.girosRecibo {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F6F6;
}

.tecladoContainer,
.teclasCodigo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.numKeys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fila {
  margin-bottom: 22px;
}

.columna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.tecla,
.teclaCodigo {
  width: 134px;
  height: 134px;
  margin-right: 40px;
  background: #00A9CE;
  border: 1px solid #00A9CE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #FFFFFF;
}

/*.teclas, .teclasCodigo{
    display: contents;
}*/
#cancelar,
#codCancelar {
  width: 200px;
  height: 134px;
  margin-bottom: 22px;
  background: #F16E6E;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  color: #FFFFFF;
}

#corregir,
#codCorregir {
  width: 200px;
  height: 134px;
  margin-bottom: 22px;
  background: #FFD233;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  color: #FFFFFF;
}

#ingresar,
#codIngresar {
  width: 200px;
  height: 134px;
  margin-bottom: 22px;
  background: #68CA7E;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  color: #FFFFFF;
}

.tecladoCod {
  width: 50%;
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #F6F6F6;
}

.formularioCliente {
  width: 100%;
  height: 100%;
  display: none;
}

.usuarioAsesor {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.giros {
  background: #F3F3F3;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.girosEnvio {
  display: none;
}

.girosRecibo {
  display: none;
}

.creditos {
  display: none;
  height: 100%;
  width: 100%;
}

.creditosIndefinido {
  display: none;
}

.creditosCredioro {
  display: none;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F3F3;
}

.tramites {
  display: none;
}

.divisas {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F3F3F3;
}

.seguros {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
}

.seguros .btnSegContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seguros .btnSegContainer .filaBtinSeg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.turno {
  display: none;
  width: 100%;
  height: 100%;
}

.turno .columna-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 15px;
  width: 60%;
  height: 100%;
  background: #F3F3F3;
}

.turno .columna-ticket .mensajeContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-bottom: 40px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 18px 18px 22px 17px;
}

.turno .columna-ticket .mensajeContainer .turnoMensaje {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #646464;
}

/*input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}*/
button {
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  width: 200px;
  background-color: white;
}

.splash {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #ffdc05;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-interno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 50pt;
  color: #00A9CE;
  padding: 200px;
  height: 500px;
}

.splash-interno:hover {
  cursor: pointer;
}

.deficionUsuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 250%;
}

.selectorUser_client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.enviar {
  display: none;
}

.selectorUsuario {
  width: 700px;
  margin-right: 10px;
  border-radius: 5px;
  height: 60px;
  font-size: 40pt;
}

.div-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#giros-logo {
  width: 139px;
  height: 81px;
  margin: 20px;
  margin-left: 50px;
}

#western-logo {
  width: 134.35px;
  height: 71px;
  /*position: absolute;*/
  margin-top: 25px;
  padding-left: 20px;
  margin-right: 20px;
  border-left: solid black 2px;
}

.div-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00A9CE;
  width: 214px;
  height: 120px;
  visibility: hidden;
}

.div-back h2 {
  color: white;
  margin-left: 20px;
}

#back-vector {
  width: 20px;
  height: 34px;
}

#signo-interrogacion {
  width: 60px;
  height: 64px;
}

#line-div {
  width: 83px;
  height: 0px;
  border: 1px solid #595959;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tramites {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F3F3;
}

.botonesTramites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1448px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-top: 20px;
}

.enviarUsuario,
.doc {
  background: #FAFAFA;
  border: 5px solid #0FADD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 435px;
  height: 180px;
  margin: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  text-align: center;
  color: #1093A5;
}

.enviarUsuario:hover,
.doc:hover {
  background: #00A9CE;
  border: 5px solid #28B2D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  color: #FAFAFA;
}

.tramite,
.pais,
.credito,
.seguro,
.credioro,
.divisa {
  background: #FAFAFA;
  border: 5px solid #0FADD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 435px;
  height: 180px;
  margin: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  text-align: right;
  color: #1093A5;
  padding-right: 50px;
  line-height: 1;
}

.tramite:hover,
.pais:hover,
.credito:hover,
.seguro:hover,
.credioro:hover,
.divisa:hover {
  background: #00A9CE;
  border: 5px solid #28B2D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  color: #FAFAFA;
}

#giros-btn {
  background-image: url(/src/giros-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#giros-btn:hover {
  background-image: url(/src/giros-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#divisas-btn {
  background-image: url(/src/divisas-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#divisas-btn:hover {
  background-image: url(/src/divisas-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#creditos-btn {
  background-image: url(/src/creditos-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#creditos-btn:hover {
  background-image: url(/src/creditos-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#seguros-btn {
  background-image: url(/src/seguros-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#seguros-btn:hover {
  background-image: url(/src/seguros-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#recaudos-btn {
  background-image: url(/src/recaudos-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#recaudos-btn:hover {
  background-image: url(/src/recaudos-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#ahorros-btn {
  background-image: url(/src/ahorros-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#ahorros-btn:hover {
  background-image: url(/src/ahorros-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#asesoria-btn {
  background-image: url(/src/asesoria-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#asesoria-btn:hover {
  background-image: url(/src/asesoria-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#otros-btn,
#otro_credito_btn,
#otro_seguros_btn {
  background-image: url(/src/otros-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#otros-btn:hover,
#otro_credito_btn:hover,
#otro_seguros_btn:hover {
  background-image: url(/src/otros-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#envio-btn {
  background-image: url(/src/envio-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#envio-btn:hover {
  background-image: url(/src/envio-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#recibo-btn {
  background-image: url(/src/recibo-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#recibo-btn:hover {
  background-image: url(/src/recibo-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#eu-btn {
  background-image: url(/src/us.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#chile-btn {
  background-image: url(/src/chile.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#panama-btn {
  background-image: url(/src/panama.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#mexico-btn {
  background-image: url(/src/mexico.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#ecuador-btn {
  background-image: url(/src/ecuador.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#ecuador-btn {
  background-image: url(/src/ecuador.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#otro-paises-btn {
  background-image: url(/src/worldwide.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#compra-divisa-btn {
  background-image: url(/src/compradivisas-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#compra-divisa-btn:hover {
  background-image: url(/src/compradivisas-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#venta-divisa-btn {
  background-image: url(/src/ventadivisas-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#venta-divisa-btn:hover {
  background-image: url(/src/ventadivisas-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#credioro_btn {
  background-image: url(/src/credioro-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#credioro_btn:hover {
  background-image: url(/src/credioro-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#tarjeta_credito_btn {
  background-image: url(/src/trajetacredito-icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#tarjeta_credito_btn:hover {
  background-image: url(/src/trajetacredito-icon-w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#adquisicion_credi_btn {
  background-image: url(/src/adquirir_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#adquisicion_credi_btn:hover {
  background-image: url(/src/adquirir_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#pago_credi_btn {
  background-image: url(/src/pagar_credi_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#pago_credi_btn:hover {
  background-image: url(/src/pagar_credi_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#repatriacion_btn {
  background-image: url(/src/repatriacion_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#repatriacion_btn:hover {
  background-image: url(/src/repatriacion_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#familia_segura_btn {
  background-image: url(/src/familias_segura_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#familia_segura_btn:hover {
  background-image: url(/src/familias_segura_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#vida_tranquila_btn {
  background-image: url(/src/vidatranquila_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#vida_tranquila_btn:hover {
  background-image: url(/src/vidatranquila_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#vida_grupo_btn {
  background-image: url(/src/vidagrupo_icon.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

#vida_grupo_btn:hover {
  background-image: url(/src/vidagrupo_icon_w.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 40px;
  background-size: 100px;
}

.giros {
  width: 100%;
}

.girosIndefinido {
  background: #F3F3F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.girosIndefinido .giro {
  background: #FAFAFA;
  border: 5px solid #0FADD0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 435px;
  height: 180px;
  margin: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;
  text-align: center;
  color: #1093A5;
}

.girosIndefinido .giro:hover {
  background: #00A9CE;
  border: 5px solid #28B2D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
  color: #FAFAFA;
}

.informacionCliente {
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 15px;
}

.informacionCliente .asClientListTitle {
  margin-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 41px;
  color: #008CA0;
}

.informacionCliente .clienteVentanilla {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 9%;
  margin-bottom: 40px;
  padding: 15px 20px 15px 20px;
  background: #00A9CE;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.informacionCliente .clienteVentanilla .clienteVentanilla-cliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacionCliente .clienteVentanilla .clienteVentanilla-cliente .turnoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacionCliente .clienteVentanilla .clienteVentanilla-cliente .turnoContainer .clienteVentanilla-turno {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  color: #008CA0;
}

.informacionCliente .clienteVentanilla .clienteVentanilla-cliente .clienteVentanilla-nombre {
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  color: #FFDD00;
}

.informacionCliente .clienteVentanilla .clienteVentanilla-tramite {
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  color: #FFFFFF;
}

.informacionCliente .separarListas {
  margin-bottom: 30px;
  border: 0.5px solid #ACACAC;
}

.informacionCliente .cola {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

.informacionCliente .cola .tarjetaClienteContainer .tarjetaCliente {
  padding: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacionCliente .cola .tarjetaClienteContainer .tarjetaCliente .turnoCola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informacionCliente .cola .tarjetaClienteContainer .tarjetaCliente .tarjetaClienteNombre {
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #008CA0;
}

.informacionCliente .pasarTurno {
  width: 100%;
  height: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 3px solid #20B4D4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 45.5px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #008CA0;
}

.informacionCliente .pasarTurno:hover {
  background: #00A9CE;
  color: #FFFFFF;
}

.paises-internos {
  width: 1450px;
  height: 450px;
  padding-left: 15px;
  padding-top: 20px;
}

.creditosIndefinido {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F3F3F3;
}

.perfilacion {
  width: 70%;
  height: 100%;
  padding: 15px;
  padding-left: 20px;
  background-color: #F3F3F3;
}

.perfilacion .clientData {
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.perfilacion .clientData .cliente {
  width: 38%;
  margin-right: 40px;
}

.perfilacion .clientData .cliente .infoCliente {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68%;
}

.perfilacion .clientData .servicios {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 62%;
}

.perfilacion .clientData .servicios .adqContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 68%;
  /*.user{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 10px;
        
                        .userInfo{
                            margin-left: 15px;
                        }
                    }
        
                    .separarInfo{
                        width: 100%;
                        border: 0.5px solid #ACACAC;
                    }
        
                    .descripTramite{
                        margin-top: 10px;
                    }*/
}

.perfilacion .clientData .servicios .adqContainer .serviciosAdq {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28%;
  height: 100%;
  margin-bottom: 0;
  padding: 15px;
  margin-right: 15px;
}

.perfilacion .clientData .servicios .adqContainer .serviciosAdq .adqIcon {
  margin-bottom: 40px;
}

.perfilacion .clientData .servicios .adqContainer .serviciosAdq .tituloProdAdq {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ACACAC;
}

.perfilacion .perfilacionTitulo,
.perfilacion .clienteTitulo,
.perfilacion .clienteProduc {
  margin-top: 10px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #008CA0;
}

.perfilacion .clienteTitulo,
.perfilacion .clienteProduc {
  margin-bottom: 20px;
}

.perfilacion .colorLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 28px;
}

.perfilacion .colorLine .yellow {
  width: 40px;
  margin: 0;
  margin-right: 5px;
  border: 2px solid #FFDD00;
}

.perfilacion .colorLine .green {
  width: 85px;
  margin: 0;
  border: 2px solid #008CA0;
}

.perfilacion .recomendacion {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.perfilacion .recomendacion .opcion1,
.perfilacion .recomendacion .opcion2,
.perfilacion .recomendacion .opcion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85%;
  width: 40%;
  padding: 15px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.perfilacion .recomendacion .opcion1 .ofrecerTitulo,
.perfilacion .recomendacion .opcion2 .ofrecerTitulo,
.perfilacion .recomendacion .opcion3 .ofrecerTitulo {
  margin-top: 0;
  margin-bottom: 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #FFE220;
}

.perfilacion .recomendacion .opcion1 .opcionTitulo,
.perfilacion .recomendacion .opcion2 .opcionTitulo,
.perfilacion .recomendacion .opcion3 .opcionTitulo {
  margin: 0;
  margin-bottom: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #AAAAAA;
}

.perfilacion .recomendacion .opcion1 hr,
.perfilacion .recomendacion .opcion2 hr,
.perfilacion .recomendacion .opcion3 hr {
  width: 100%;
  border: 0.5px solid #ACACAC;
}

.perfilacion .recomendacion .opcion1 .textoRecomendacion,
.perfilacion .recomendacion .opcion2 .textoRecomendacion,
.perfilacion .recomendacion .opcion3 .textoRecomendacion {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 38px;
  color: #008CA0;
}

.perfilacion .recomendacion .opcion3 {
  margin-right: 0;
}

.perfilacion .informacion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
  padding: 15px 25px 15px 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.perfilacion .informacion .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.perfilacion .informacion .user .userInfo {
  margin-left: 20px;
}

.perfilacion .informacion .user .userInfo .nombreInfo {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #008CA0;
}

.perfilacion .informacion .user .userInfo .cedulaInfo {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #008CA0;
}

.perfilacion .informacion .separarInfo {
  width: 100%;
  border: 0.5px solid #ACACAC;
}

.perfilacion .informacion .descripTramite {
  margin-top: 10px;
}

.perfilacion .informacion .descripTramite .tramiteInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfilacion .informacion .descripTramite .tramiteInfo .tramiteInfooo {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #008CA0;
}

.perfilacion .informacion .descripTramite .tramiteInfo .contenedorDetalles {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.perfilacion .informacion .descripTramite .tramiteInfo .contenedorDetalles .detalleInfo {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #878787;
}

.perfilacion .informacion .descripTramite .tramiteInfo .contenedorDetalles .extraInfo {
  margin: 0;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #AAAAAA;
}

.perfilacion .informacion .informacionTitulo {
  margin-top: 0;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 41px;
  color: #008CA0;
}

.ticket-img {
  width: 70%;
}

.turno {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.numTurno {
  position: absolute;
  font-size: 150pt;
  color: #00A9CE;
  top: -65px;
  left: 200px;
  bottom: 500px;
}

.contenedor-ticket {
  position: relative;
}

.columna-mensaje-turno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFDD00;
  color: #404040;
  font-size: 45pt;
  height: 100%;
  width: 40%;
}

.girosEnvio {
  background: #F3F3F3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#familia_segura_btn, #repatriacion_btn, #vida_tranquila_btn, #vida_grupo_btn, #otro_seguros_btn {
  width: 512px;
}

.div-back:hover {
  cursor: pointer;
}

.tecla {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */